/* This is un-minified on purpose so you can look at it. */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #2d2d2d;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: #ff8413;
  font-family: 'Tahoma', 'Verdana', 'Segoe', sans-serif;
  letter-spacing: .075rem;
}

a {
  color: #19586d;
  position: relative;
  text-decoration: none;
}

a:after {
  background-color: #19586d;
  bottom: -2px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all .25s linear;
  width: 100%;
}

a:active:after,
a:hover:after,
a:focus:after {
  transform: scaleY(2);
}

ul {
  padding-left: 1rem;
}

h3 a,
h4 a {
  color: #ff8413;
}

strong a {
  font-size: .9rem;
  text-transform: uppercase;
}

img {
  border: 1px solid black;
  margin-bottom: .75rem;
  width: 100%;
}

.header {
  padding: 0 1rem;
}

.header h1 {
  font-size: 1.65rem;
}

.header span {
  font-weight: normal;
  letter-spacing: -.25rem;
}

.main {
  line-height: 1.75rem;
}

.section {
  padding: 0 1rem;
  position: relative;
}

.section-title,
.section-headline {
  margin-top: 0;
  text-transform: uppercase;
}

.section-headline {
  margin-bottom: .5rem;
}

.section-content {
  position: relative;
}

.section-listHead {
  font: .85rem/1.4 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .075rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.section-listHead + ul {
  margin-top: .25rem;
}

.section-scroll {
  border-bottom: 0;
  display: none;
}

.section-media {
  height: auto;
}

.section-column {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-media_noBorder {
  border: 0;
  width: 100%;
}

.section-media_half {
  width: 49%;
}

@media screen and (min-width: 800px) {
  ul {
    padding-left: 2rem;
  }

  .header {
    align-items: center;
    background: rgba(255, 255, 255, .85);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .header h1,
  .header p {
    display: inline-block;
  }

  .header h1 {
    margin: .5rem 0;
  }

  .header p {
    margin: 0 0 0 1rem;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //min-height: 100vh;
    padding-top: 3.5rem;
    padding-bottom: 5vh;
  }

  .section-scroll {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    transform: scale3d(3, .85, 1);
    width: 100%;
  }

  .section-scroll:after {
    content: "^";
    cursor: pointer;
    display: block;
    font-size: 1.25rem;
    margin: 0 45%;
    text-align: center;
    width: 10%;
  }

  .section-scroll:after,
  .section-scroll:active:after,
  .section-scroll:hover:after,
  .section-scroll:focus:after {
    background-color: transparent;
    transform: rotate(180deg);
  }

  .section-media {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: calc(40% - 1rem);
  }

  .section:first-of-type .section-media {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .section-content {
    padding-right: 1rem;
    width: calc(50% - 1rem);
  }

  .section-media {
    width: calc(50% - 1rem);
  }
}